/* My CSS
-------------------------------------------------- */
/*
  Special CSS file for Beer Game Simulation System
  by Xiaoyu Tai
  Create on 11 April, 2013 @beijing
*/

/*index*/
.bg {
	left: -20%;
	position: fixed;
	overflow: hidden;
	text-align: center;
}
.bg img {
	min-width: 1980px;
}
.signin{
	text-align: center;
	top: 20%;
	position: absolute;
	left: 0%;
	width: 100%;
	z-index: 1;
}
.signin-form{
	margin: 0 auto;
	border: 1px solid rgba(0, 0, 0, .20);
	background-color: rgba(255, 255, 255, .80);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	width: 395px;
}
.signin-div{
	margin: 20px;
}
.signin-div h3{
	padding-top: 5px;
	margin-bottom: -5px;
	color: rgba(0, 0, 0, .70);
}
.signin-div hr{
	border-top: 1px solid rgba(255, 255, 255, .20);
	border-bottom: 1px solid rgba(0, 0, 0, .20);
}
.signin-div p{
	margin-top: -10px;
	color: rgba(0, 0, 0, .50);
	font-size: 12px;
}
.signin-div input {
	background-color: rgba(255, 255, 255, .70);
	color: rgba(0, 0, 0, .80);;
	border: 1px solid rgba(0, 0, 0, .20);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.signin-div input:focus {
	border: 1px solid rgba(122, 186, 123, .80);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
}
